.bg-positon-center-center {
  background-position : center center;
}

.bg-size-contain {
  background-size   : contain;
  background-repeat : no-repeat;
}

.bg-size-cover {
  background-size   : contain;
  background-repeat : no-repeat;
}

.bg-repeat {
  background-size   : 50%!important;
  background-repeat : repeat!important;
}