.boxshadow {
  box-shadow : var(--boxshadow);
}

.boxshadow-sm {
  box-shadow : var(--boxshadow-sm);
}

.boxshadow-lg {
  box-shadow : var(--boxshadow-lg);
}

.boxshadow-inset {
  box-shadow : var(--boxshadow-inset);
}