.ratio {
  position : relative;
  width    : 100%;

  &::before {
	display     : block;
	padding-top : var(--aspect-ratio, 100%);
	content     : "";
  }

  > * {
	position   : absolute;
	top        : 0;
	left       : 0;
	width      : 100%;
	height     : 100%;
	object-fit : cover;
	margin     : 0 auto;
  }
}

@each $key, $ratio in $aspect-ratios {
  .ratio-#{$key} {
	--aspect-ratio : #{$ratio};
  }
}

.bgi {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.thumbnail {
  width    : 100%;
  position : relative;
  overflow : hidden;
  display  : block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::before {
	content     : "";
	display     : block;
	padding-top : calc(3 / 4 * 100%);
  }

  img {
	position   : absolute;
	top        : 0;
	left       : 0;
	bottom     : 0;
	right      : 0;
	height     : 100%;
	object-fit : cover;
	margin     : 0 auto;
  }
}
