.row {
  width:100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom:calc(var(--gutter) / -1);
  margin-left: calc(var(--gutter) / -2);
  margin-right: calc(var(--gutter) / -2);
  & > [class*='col'] {
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
  }
  &.gutter-l {
    width:calc(100% + var(--gutter-l));
    margin-left: calc(var(--gutter-l) / -2);
    margin-right: calc(var(--gutter-l) / -2);
    margin-bottom:calc(var(--gutter) / -1);
    & > [class*='col'] {
      padding-left: calc(var(--gutter-l) / 2);
      padding-right: calc(var(--gutter-l) / 2);
    }
  }
  & > .col {
    margin-bottom:var(--gutter);
  }
  &.gutter-l {
    margin-bottom:var(--gutter-l);
  }
  &.row-2column > .col {
    width: 50%;
  }
  &.row-3column > .col {
    width: 33.3333%;
  }
  &.row-4column > .col {
    width: 25%;
  }
  &.row-1-2column {
    & > :nth-child(1) {
      width: 33.3333%;
    }
    & > :nth-child(2) {
      width: 66.6667%;
    }
  }
  &.row-2-1column {
    & > :nth-child(1) {
      width: 66.6667%;
    }
    & > :nth-child(2) {
      width: 33.3333%;
    }
  }
  &.row-1-3column {
    & > :nth-child(1) {
      width: 25%;
    }
    & > :nth-child(2) {
      width: 75%;
    }
  }
  &.row-3-1column {
    & > :nth-child(1) {
      width: 75%;
    }
    & > :nth-child(2) {
      width: 25%;
    }
  }
  &.row-3-4column {
    & > :nth-child(1) {
      width: 42.8571%;
    }
    & > :nth-child(2) {
      width: 57.1429%;
    }
  }
  &.row-4-3column {
    & > :nth-child(1) {
      width: 57.1429%;
    }
    & > :nth-child(2) {
      width: 42.8571%;
    }
  }
}


@media (max-width: 576px) {
  .row {
    margin-left: 0;
    margin-right: 0;
    & > [class*='col'] {
      width:100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom:var(--space-m);
      &:last-child {
        margin-bottom: 0;
      }
    }
    &.gutter-l {
      width:100%;
      margin-left: 0;
      margin-right: 0;
      & > [class*='col'] {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &.row-2column > .col {
      width: 100%;
    }
    &.row-3column > .col {
      width: 100%;
    }
    &.row-4column > .col {
      width: 100%;
    }

    &.row-1-2column {
      & > :nth-child(1) {
        width: 100%;
      }
      & > :nth-child(2) {
        width: 100%;
      }
    }
    &.row-2-1column {
      & > :nth-child(1) {
        width: 100%;
      }
      & > :nth-child(2) {
        width: 100%;
      }
    }
    &.row-1-3column {
      & > :nth-child(1) {
        width: 100%;
      }
      & > :nth-child(2) {
        width: 100%;
      }
    }
    &.row-3-1column {
      & > :nth-child(1) {
        width: 75%;
      }
      & > :nth-child(2) {
        width: 100%;
      }
    }
    &.row-3-4column {
      & > :nth-child(1) {
        width: 100%;
      }
      & > :nth-child(2) {
        width: 100%;
      }
    }
    &.row-4-3column {
      & > :nth-child(1) {
        width: 100%;
      }
      & > :nth-child(2) {
        width: 100%;
      }
    }
  }
}