.container {
  padding: 0 20px;
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container-l {
  padding: 0 20px;
  max-width: 100%;
  width: 1600px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container-s {
  padding: 0 20px;
  max-width: 100%;
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}
.container-fluid {
  padding: 0 20px;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}


@media (max-width: 1600px) {
  .container-l {
    width: 1400px;
  }
}
@media (max-width: 1400px) {
  .container-l {
    width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 1000px;
  }
  .container-l {
    width: 1000px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 750px;
  }
  .container-l {
    width: 850px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }
  .container-l {
    width: 100%;
    padding: 10px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 10px;
  }
  .container-l {
    width: 100%;
    padding: 10px;
  }
  .container-s {
    width: 100%;
    padding: 10px;
  }
}