main.contents {
  & > section {
    padding-top:var(--space-xl);
    padding-bottom:var(--space-xl);
    &:nth-child(odd) {
      background-color: var(--body-bgc);
    }
    &:nth-child(even) {
      background-color: var(--color-tertiary);
    }
  }
}

.badge {
  display: inline-block;
  position: absolute;
  z-index:2;
  top:-10px;
  left:0;
  &.badge-circle {  
    border-radius: 50%;
    width:50px;
    height:50px;
    font-size:var(--text-l);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-fc);
    color:var(--body-bgc);
  }
}