.form-group {
  margin-bottom: 20px;

  & > label {
    display: block;
    margin-bottom: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
  }

  li {
    display: flex;
    align-items: center;
    label {
      vertical-align: middle;
    }
  }

  input[type="text"],
  input[type="radio"],
  input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
  }

  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: #555;
    }
  }
}