.posi-fixed {
    position:fixed;
}
.posi-relative {
    position: relative;
}
.posi-absolute {
    position: absolute;
}
.posi-static {
    position: static;
}

.posi-top-right {
    top:0;
    right:0;
}
.posi-top-left {
    top:0;
    left:0;
}
.posi-bottom-right {
    bottom:0;
    right:0;
}
.posi-bottom-left {
    bottom:0;
    left:0;
}