.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: #fff;
}

.navbar .logo {
  text-align: center;
  flex-grow: 1;
}

.navbar .nav-buttons {
  display: flex;
  gap: 10px;
}

.navbar .nav-buttons button {
  background-color: #555;
  border: none;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

.navbar .nav-buttons button:hover {
  background-color: #777;
}