.section-news {
  width:100%;
  .news-list {
    width:100%;
    & > ul {
      background-color: var(--body-bgc);
      border-top: 1px solid var(--color-secondary);
      & > li {
        &:nth-child(odd) {
          & > a {
            background-color: var(--body-bgc);
          }
        }
        &:nth-child(even) {
          & > a {
            background-color: var(--color-tertiary);
          }
        }
        & > a {
          display: block;
          padding: var(--space-m);
          border-bottom: 1px solid var(--color-secondary);
          text-decoration: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:hover {
            background-color: var(--color-secondary);
          }
          & > .item-titles {
            flex-grow: 1;
            padding:0 var(--space-l);
            & > .item-title {
              font-size: var(--text-m);
              color: var(--body-fc);
            }
            & > .item-description {
              font-size: var(--text-s);
              color:var(--body-fc);
              margin-top: var(--space-s);
            }
          }
          & > .item-date {
            padding:0 var(--space-l);
            flex-shrink: 0;
            font-size: var(--text-s);
            color: var(--body-fc);
            margin-top: var(--space-s);
          }
          & > .item-category {
            padding:0 var(--space-l);
            flex-shrink: 0;
            font-size: var(--text-s);
            margin-top: var(--space-s);
            color: var(--body-fc);
          }
          & > .item-link {
            & > span {
              font-size:30px;
              color: var(--body-fc);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .section-news {
    .news-list {
      & > ul {
        & > li {
          & > a {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;
            text-align: left;
            & > .item-titles {
              flex-grow:unset;
              padding:0 0;
              order:1;
              & > .item-title {
                font-size: var(--text-m);
              }
            }
            & > .item-date {
              order:2;
              padding:0 0;
            }
            & > .item-category {
              display: none;
            }
            & > .item-link {
              display: none;
            }
          }
        }
      }
    }
  }
}