.title-group {
  display: flex;
  flex-direction: column;
  margin-bottom:var(--space-l);
  .title {
    font-size: var(--text-xl);
    letter-spacing: 0.15rem;
    font-weight: bold;
    height:100%;
    order:1;
    font-family: var(--common-ff);
  }
  .title-eng {
    font-size: var(--text-s);
    letter-spacing: 0.05rem;
    font-weight: bold;
    height:100%;
    order:0;
    margin-bottom:0.7rem;
    font-family: var(--common-ff-eng);
  }
  .description {
    order:2;
    font-size: var(--text-s);
    margin-top:0.9rem;
    letter-spacing: 0.1rem;
    font-family: var(--common-ff);
  }
}